.warning {
  width: 100%;
  height: calc(100% - 114px);
  min-height: 454px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h2 {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: $red;
  }

  strong {
    font-size: 1.4rem;
    line-height: 1.6;
    color: $blue;
  }

  p {
    margin-top: 10px;
    font-size: 1.4rem;
    text-align: center;
    color: $blue;
  }
}