* {box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Noto Sans", "arial", "sans-serif";
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, header, footer, section, article {font-family: "Montserrat", "Noto Sans", "arial", "sans-serif"; font-size: 10px; margin: 0; padding: 0; color: #535353; font-weight: normal; line-height: 1.2;}
table {border-collapse: collapse; border-spacing: 0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal;font-weight: normal;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;font-weight: normal;}
q:before,q:after {content: '';}
abbr,acronym {border: 0;font-variant: normal;}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select {font-size:100%;}
input[type="text"], input[type="tel"], input[type="email"], input[type="button"],intput[type="submit"], input[type="reset"], select {appearance: none;-webkit-appearance: none;-moz-appearance: none;-webkit-border-radius: 0;border-radius: 0;}
legend {color: #535353;}
legend, caption {text-indent: -15000px; height: 0; width: 0; opacity: 0; filter: alpha(opacity=0)}
label, button {cursor: pointer;appearance: none;-webkit-appearance: none;-moz-appearance: none;-webkit-border-radius: 0;border-radius: 0;}
a {color: #535353; text-decoration: none;}
i {font-style: normal;}